*,
:after,
:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(251, 250, 250);
    font-weight: 400;
    font-family: 'Playfair Display';
    line-height: 1.8;
}

header {
    padding-top: 25px;
}

.wrapper {
    margin: 0 auto;
    width: 1280px;
}


nav {
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.logo img {
    display: inline-block;
    width:104px;
    height: 98px;
}

.search img {
    display: inline-block;
    width: 22px;
    height: 23px;
}

ul {
    margin-left: 60px;
}

ul li {
    list-style: none;
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    text-decoration: none;
    font-size: 25px;
    color: rgb(0, 0, 0);
    padding: 0 140px 0 0;
    text-align: left;
}

.level2 {
    display: none;
    position: absolute;
    left: 0;
    margin: 0;
    background-color: rgb(251, 250, 250);
    padding: 0 12px;
}

.level2 li {
display: block;
width: 100%;
}

.level2 a {
padding: 12px 0;
font-size: 12px;
width: 100%;
display: block;
}

ul li a:hover {
    color: rgb(4, 52, 75);
    text-decoration: underline;
}

ul li:hover .level2 {
display: block;
}

.content .banner img {
max-width: 100%;
}

.content .row {
    display: flex;
    flex-wrap: wrap;
}

.content .row .column {
    flex: 25%;
    padding: 0 25px 25px 25px;
}
.content .row .column img{
    max-width: 100%;
}
.content .row .column p{
   font-size: 15px;
   color: rgb(65, 64, 64);
}
.content .row .column h2{
    font-size: 25px;
    font-weight: 200;
    font-family: Playfair Display;
 }

.content .row .column a {
    text-decoration: none;
    color: black;
}

 .content h1 {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-size: 30px;
    font-weight: 300;
    font-family: Playfair Display;
 }

.footer {
    text-align: center;
    padding: 10px 0 10px 0;
    font-size: 12px;
    font-weight: 300;
    font-family: Playfair Display;
    background-color: rgb(241, 241, 241);
}

.footer img {
    display: inline-block;
    width:50px;
    height: 48px;
}

.artikel1 img {
    display: block;
    max-width: 90%;
    margin: 0 auto;
    padding: 25px 150px;
    }

.artikel2 {
    text-align: center;
    padding: 10px 150px 10px 150px;
}

.headline {
    font-style: italic;
    color: rgb(80, 80, 80);
    padding: 0 0 10px 0;
}

.nyheder h1 {
    text-align: center;
    font-size: 48px;
    font-family: Playfair Display;
    font-weight: 400;
    line-height: 1.2;
}

.nyheder {

    padding: 50px;
}

.nyheder p {
    text-align: left;
    font-size: 15px;
    font-family: Playfair Display;
}

.nyheder img {
    display: inline-block;
    max-width: 100%;
    padding: 25px 0 0 0;
}

.nyheder h3 {
    text-align: left;
    padding: 25px 0 2px 0;
    font-size: 16px;
    font-family: Playfair Display;
}

.artikel3 {
    text-align: center;
    padding: 10px 150px 10px 150px;
}
.forurening h1 {
    text-align: center;
    font-size: 48px;
    font-family: Playfair Display;
    font-weight: 300;
    line-height: 1;
}

.forurening p {
    text-align: left;
    font-size: 15px;
    font-family: Playfair Display;
}

.forurening img {
    display: inline-block;
    max-width: 100%;
    padding: 25px 0 0 0;
}

.forurening {
    padding: 50px;
}

.forurening iframe {
    width: 900px;
    height: 450px;
}

.artikel4 {
    text-align: center;
    padding: 10px 150px 10px 150px;
}

.artikel4 .container {
    display: flex;
    flex-wrap: wrap;
    padding: 25px 0;
}

.artikel4 .container .column {
    flex: 0 50%;
    padding: 10px;
}

.artikel4 .container .column img {
 max-width: 100%;
}

.organisationer h1 {
    text-align: center;
    padding: 0 110px 10px 110px;
    font-size: 48px;
    font-family: Playfair Display;
}

.organisationer p {
    text-align: center;
    padding: 0 150px 10px 150px;
    font-size: 15px;
    font-family: Playfair Display;
}

.organisationer img {
    display: inline-block;
    max-width: 20%;
    height: 390px;
    width: 648px;
}